<!-- producto.handlebars -->
<div class="col-md-4 mb-4">
    <div class="card">
        <img class="card-img-top" src="/images/{{nombre}}.png" alt="{{nombre}}">
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
    </div>
</div>
