<!-- dashboard.handlebars -->
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenido al Mercado Web</h1>
    <div class="row">
        {{#each productos}}
            {{> producto }}
        {{/each}}
    </div>
</div>

